body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-size: cover;
  background-color: rgb(156, 156, 148);
  background-image: url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29kaW5nfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navName{
  text-align:center;
  color: aliceblue;
  font-family: verdana;
  background-color: black;
  height: 300px;

  
  
  
}
.navName > h3{
  text-align:left
}

.card-body{
  background-color: rgb(37, 35, 35);
  color:white
}
.form-control{
  border: solid
  
  
}